/* General */
img {
    height: 100%;
}

/* bg */

#_bg {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( #009688 0%,#009688 18%, #dadbd4 18%, #dadbd4 100%);
}

/* Body */

#_container {
    width: 80vw;
    height: 87vh;
    background-color: dodgerblue;
    /* background-color: #e0d9d1; */
    margin: 0 auto;
    margin-top: 30px;
}

/* User top-left section*/

#_user-name-option {
    height: 60px;
    padding: 10px;
    background-color: white;
}

#_nome-user {
    font-size: 19px;
}

#_user-name img {
    border-radius: 50%;
    margin: 0 10px;
}

#_user-option .bi {
    margin-right: 10px;
    color:#c9c3bd; 
    font-weight: bolder;
    line-height: 240%
}

/* Notifications */

#_turn-notifications {
    height: 60px;
    padding: 10px;
    background-color: #8edafc;
}

#_turn-notifications .bi {
    background-color:white;
    color: #8edafc;
    border-radius: 50%;
    padding: 5px 10px
}

#_turn-notifications a {
    color:gray
}

#_turn-on {
    margin-left: 10px;
}

/* search section */

#_search-container {
    padding: 5px;
    background-color: #c9c3bd;
}

/* chat */

#_chat-container {
    min-height: 100%;
    background-color: white;
}

/* contact */

#_chat-container {
    height: 231px;
    overflow-y: scroll;
}

._contact {
    height: 50px;
    line-height: 270%;
    padding-left: 10px;
    border-top: 0.5px solid #c9c3bd;
}

._contact img {
    border-radius: 50%;
    padding: 5px;
}


