/* General */
img {
    height: 100%;
}

.row > * {
    padding-left: 0;
    padding-right: 0;
}

/* bg */

#_bg {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( #009688 0%,#009688 18%, #dadbd4 18%, #dadbd4 100%);
}

/* Body */

#_container {
    width: 80vw;
    height: 87vh;
    background-color: dodgerblue;
    /* background-color: #e0d9d1; */
    margin: 0 auto;
    margin-top: 30px;
}

/* User top-left section*/

#_user-name-option {
    height: 80px;
    padding: 10px;
    background-color: #eaeaea;
}

#_nome-user {
    font-size: 19px;
}

#_user-name img {
    border-radius: 50%;
    margin: 0 10px;
}

#_user-option .bi {
    margin-right: 10px;
    color:grey; 
    font-weight: bolder;
    line-height: 380%
}

/* Notifications */

#_turn-notifications {
    height: 60px;
    padding: 10px;
    background-color: #8edafc;
}

#_turn-notifications .bi {
    background-color:white;
    color: #8edafc;
    border-radius: 50%;
    padding: 5px 10px
}

#_turn-notifications a {
    color:gray
}

#_turn-on {
    margin-left: 10px;
}

/* search section */

#_search-container {
    padding: 5px;
    background-color: #eaeaea;
}

/* chat */

#_conversation-container {
    background-color: white;
    height: calc( 87vh - 187px );
    overflow-y: scroll;
}

/* contact */

._contact {
    height: 68px;
    line-height: 350%;
    padding: 5px;
    border-bottom: 0.5px solid #c9c3bd;
}

._contact img {
    border-radius: 50%;
    padding: 5px;
}

/* rigth section */

#_chat-container {
    background-color: white;
    height: 87vh;
    border-left: 2px solid #009688;
}

/* chat header */

#_chat-header {
    height: 80px;
    background-color: #eaeaea;
    padding: 10px;
}

#_header-icon img{
    height: 60px;
    border-radius: 50%;
    margin-left: 25px;
}

#_receiver-name {
    margin-left: 15px;
    font-size: 22px;
}

#_chat-option .bi{
    margin-right: 18px;
    color:dimgray;
    font-size: 20px;
}

/* conversation */

#_conversation {
    height: calc(87vh - 60px - 80px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* user input section*/

#_user-input {
    height: 60px;
    background-color: #eaeaea;
    padding: 10px
}

#_user-input .bi {
    padding: 7px 15px;
    font-size: 25px;
}

#_user-input a {
    color:dimgray;
}

#_new-message {
    border-radius: 8px;
}

/* messages */

#_conversation {

}

._message {
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 100px;
    margin: 10px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

._user-message {
    background-color: lightgreen;
}

._receiver-message {
    background-color: white;
}