<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link rel="icon" href="img/icon.jpg">
    <!-- Boostrap -->   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">
    <!-- Boostrap icon -->  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <!-- Style -->    
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>

    <title>Boolzapp</title>
    <body id="_bg">
        <div id="_body" class="d-flex justify-content-center">
            <div id="_container">
                <main>
               
                    <div class="row" id="root">
                        <!-- left column -->
                        <div class="col-5" >
                            <!-- user section -->
                            <section id="_user-name-option"  class="d-flex justify-content-between">
                                <div id="_user-name"  class="d-flex align-items-center">
                                    <img :src="'img/avatar' + user.avatar +'.jpg'" alt="mia-foto">
                                    <div id="_nome-user">{{user.name}}</div>
                                </div>
                                <div id="_user-option">
                                    <a href="#"><i class="bi bi-arrow-counterclockwise"></i></a>
                                    <a href="#"><i class="bi bi-chat-right-dots"></i></a>
                                    <a href="#"><i class="bi bi-three-dots-vertical"></i></a>
                                </div>
                            </section>

                            <!-- notifications -->
                            <section>
                                <div id="_turn-notifications" class="d-flex align-items-center">
                                    <i class="bi bi-bell-slash"></i>
                                    <div id="_turn-on">
                                        <div class="fs-8">Ricevi notifiche di nuovi messaggi</div>
                                        <a href="#" id="_link-setting">Attiva le notifiche</a>
                                    </div>
                                </div>
                            </section>

                            <!-- search contact -->
                            <section>
                                <div class="input-group" id="_search-container">
                                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Cerca tra contatti e messaggi">
                                </div>
                            </section>

                            <!-- open chats -->
                            <section>
                                <div id="_conversation-container">

                                    <!-- single contact -->
                                    <div class="_contact d-flex" v-for="(contact, index) in contacts"> 
                                        <img v-bind:src="'img/avatar' + contact.avatar +'.jpg'" :alt="contact.name + 'photo'"> 
                                        <div class="_contact-name" v-text="contact.name"></div>    
                                    </div>
                                    
                                </div>
                            </section>

                        </div>

                        <!-- right column -->
                        <div class="col-7">
                            <div id="_chat-container">
                                
                                <!-- header chat -->
                                <section id="_chat-header">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col" id="_header-icon">
                                            <img v-bind:src="'img/avatar' +  +'.jpg'" alt="">
                                            <span id="_receiver-name"> </span>
                                        </div>
                                        <div class="col d-flex justify-content-end" id="_chat-option">
                                            <a href="#"><i class="bi bi-search"></i></a>
                                            <a href="#"><i class="bi bi-link-45deg"></i></a>
                                            <a href="#"><i class="bi bi-three-dots-vertical"></i></a>
                                        </div>
                                    </div>
                                </section>

                                <!-- conversation section -->
                                <section>
                                     <div id="_conversation"  
                                     v-for="(message, i) in contacts.messages">

                                        <!-- message -->
                                        <div class="d-flex" 
                                        :class="message.status === 'sent' ? 'justify-content-end pe-2' : 'justify-content-start ps-2'"> 
                                            <div class="_message" 
                                            :class="message.status === 'sent' ? '_user-message' :' _receiver_message'"> 
                                                <div v-text="message.text"></div>
                                                <div class="_date" v-text="message.date"></div>
                                            </div> 
                                        </div>

                                    </div>
                                </section>

                                <!-- user chat input -->
                                <section>
                                    <div id="_user-input">
                                        <div class="input-group">
                                            <a href="#"><i class="bi bi-emoji-kiss"></i></a>
                                            <input type="text" class="form-control" id="_new-message" 
                                            placeholder="Scrivi qui il tuo nuovo messaggio..." >
                                            <a href="#"><i class="bi bi-mic-fill"></i></a>
                                        </div>
                                    </div>
                                </section>


                            </div>
                        </div>
                    </div>
                </main>
            </div>
        <script src="js/script.js"></script>
        </div>
</body>
</html>